<mat-card class="result">
    <mat-card-content>
      <h2 class="example-h2">Result</h2>
      <mat-slider
          class="example-margin"
          [disabled]="disabled"
          [invert]="invert"
          [max]="max"
          [min]="min"
          [step]="step"
          [thumb-label]="thumbLabel"
          [tick-interval]="tickInterval"
          [value]="value"
          [vertical]="vertical">
      </mat-slider>
    </mat-card-content>
</mat-card>

<button (click)= "getSlider()">Click</button>
  