.jumbotron {
    padding-top: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    margin-bottom: 0px !important;
    right: 10px !important;
    background: #5b6d48 !important;
}

#zoomreset,#annotstate{
    color: #fff !important;
    background-color: #86a84e !important;
    border-color: #86a84e !important;
}

.ol-zoom{
    transform: rotate(-90deg) !important;
    top: -1em !important;
    right: 7em !important;

}


#tnailzone{
width:120px;
height:90px;
opacity:0.4;
position:absolute; 
border:solid 2px; 
border-color:yellow;
display:block;
}

.infotxt{
color:white;
}

.panel_content{
position: fixed;
top: 42px;
left: 0;
display: block;
background: #111111;
border:1px solid #222222;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
width: 500px;
padding: 30px 30px 30px 130px;
filter: alpha(opacity=85);
opacity: .85;
color:#FFFFFF;
z-index: 1;
font-family: verdana, helvetica, arial, sans-serif;
}

