<div class ="wrapper">
    <div class= "container-fluid" >
      <div class = "navbar navbar-inverse">
   <nav>
    
    <a [routerLink]="['/']">
      Home
    </a>
    |
    <a [routerLink]="['/map']">
      Map
    </a>|  
  
    <a [routerLink]="['/slider']">
      Slider
    </a>
    |
    <a [routerLink]="['/rangeslider']">
      Rangeslider
    </a>
    |
    <a [routerLink]="['/thumbnail']">
      Thumbnail
    </a>
    
    
  </nav>
  
  
    
             </div>
      </div>
      <main>
        <router-outlet></router-outlet>
      </main>
  </div>    
  
  
  
