<!-- <div id="filmstrip" style="height:90px;">
    <section id="carousel" class="regular" style="overflow:visible;background-color:rgba(0,0,0,0);position:initial">
    <div *ngIf = "flou_tnails">  -->
    <!-- <div *ngFor = "let each of fluo_tnails">       -->
        <!-- <img *ngIf = "{{each}}='';else elseBlock" src = "http://mouse.brainarchitecture.org/">   -->
        <!-- <img src = "http://mouse.brainarchitecture.org/{{each}}">  
    </div>
    </div> -->
    <!-- </div> -->
    <!-- </section>
</div> -->
